<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item *ngFor="let user of users;trackBy: trackByFn" (click)="edit(user)">
      <ion-avatar slot="start">
        <img [src]="user.avatar" alt="imagen">
      </ion-avatar>
      <ion-label>
        <h2>{{user.email}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>